<div class="container">
    <button type="button" class="btn btn-primary" title="novo cliente" (click)="novoCliente()">Novo</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome Cliente</th>
                <th scope="col">CPF</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col">Renda Mensal</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (item of clientes; track $index)
            {
            <tr>
                <td>{{item.nomeCliente}}</td>
                <td>{{item.cpf}}</td>
                <td>{{item.dataCadastro}}</td>
                <td>{{item.rendaMensal}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" title="editar cliente"
                        (click)="editarCliente(item.id)">x</button>
                    <button type="button" class="btn btn-sm btn-danger" title="deletar cliente"
                        (click)="deletarCliente(item.id)">x</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>