<button type="button" class="btn btn-dark mb-5 float-end rounded-5 bold" title="novo cliente" (click)="novoCliente()"><i
        class="bi bi-plus"></i>Novo</button>

<form (keydown.enter)="onEnterFilterClicked($event)">
    <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
        <div class="col-xs-3 col-sm-auto">
            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filterCtrl" />
        </div>
    </div>
</form>
<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th scope="col" sortable="nomeCliente" (sort)="onSort($event)">Nome Cliente</th>
            <th scope="col" sortable="cpf" (sort)="onSort($event)">CPF</th>
            <th scope="col" sortable="rendaMensal" (sort)="onSort($event)">Renda Mensal</th>
            <th scope="col" sortable="dataCadastro" (sort)="onSort($event)">Data Cadastro</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (item of clientes; track $index)
        {
        <tr>
            <td>{{item.nomeCliente}}</td>
            <td>{{item.cpf | CPF}}</td>
            <td>{{item.rendaMensal}}</td>
            <td>{{item.dataCadastro|date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>
                <div class="float-end">
                    <button type="button" class="btn btn-sm btn-primary me-1 rounded-5" title="editar cliente"
                        (click)="editarCliente(item.id)"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-sm btn-danger rounded-5" title="deletar cliente"
                        (click)="deletarCliente(item.id)"><i class="bi bi-trash"></i></button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<ngb-pagination [collectionSize]="count" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
    (pageChange)="pageChanged($event)" aria-label="Paginação de clientes" />