<h4>Teste Técnico – Desenvolvedor Front-End.</h4>

<h5>Desenvolvimento aplicação angular</h5>

<p>Criar sistema CRUD com os seguintes requisitos:</p>

<ul>
    <ol>Tela de cadastro de cliente contendo os campos: Nome Cliente, CPF, Data Nascimento, Renda Mensal, E-mail e
        Data
        Cadastro. </ol>
    <ol>Tela com listagem de clientes, com os campos: Nome Cliente, CPF, Data Cadastro, Renda Mensal.
        <ul>
            <li>Essa tela deverá conter filtro do Nome Cliente, CPF, Data Nascimento.</li>
            <li>Essa tela deverá conter também ordenação e paginação;</li>
            <li>Possibilitar remover registros;</li>
        </ul>
    </ol>
    <ol>Tela com o detalhe das informações do cliente, podendo ser editáveis todos os campos, exceto o CPF;
        <ul>
            <li>Toda a comunicação REST deve ser utilizada a biblioteca JSON Server ou a Mockoon, para
                mockar os dados.</li>
            <li>Utilizar validações de dados e máscaras nos campos correspondentes (CPF, Data
                Nascimento, Renda Mensal, E-mail e Data Cadastro)</li>
        </ul>
    </ol>
</ul>

<h5>Validações:</h5>

<ul>
    <li>Cliente deve possuir mais de 18 anos e menos de 60;</li>
    <li>CPF deve ser válido;</li>
    <li>Nome Cliente deve possuir ao menos um sobrenome;</li>
</ul>